<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title>Agregar Partido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <form  [formGroup]="formAddMatch">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div padding>
            <ion-item>
              <ion-input  type="text" placeholder="Equipo 1" formControlName="pteamOne"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input  type="text" placeholder="Equipo 2" formControlName="pteamTwo"></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button  color="primary" size="large" type="submit" expand="block" 
            (click)="addMatch()" [disabled]="!formAddMatch.valid">Agregar</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
