<ion-header [translucent]="false">
  <ion-toolbar id="containerC">
    <ion-buttons slot="primary">
      <ion-button [routerLink]="['/main/add' ]">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <h2>APP Futbolera</h2>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="container" color="secondary">
  <div id="container">
    <ion-card *ngFor="let matches of match">
      <ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="6">

              <ion-card-subtitle align="center">{{matches.teamOne}}</ion-card-subtitle>
            </ion-col>
            <ion-col size="6">
              <ion-card-subtitle align="center">{{matches.teamTwo}}</ion-card-subtitle>
            </ion-col>

          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-card-title align="center">
                {{matches.scoreOne}}
              </ion-card-title>
            </ion-col>
            <ion-col size="6">
              <ion-card-title align="center">
                {{matches.scoreTwo}}
              </ion-card-title>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-header>
      <ion-card-content>
        <div style="text-align: center ">
          <ion-button slot="end " (click)="view(match.codeMatch)">Eventos</ion-button>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>