<ion-header>
  <ion-toolbar color="primary">
      <ion-title class="ion-text-center">Eventos</ion-title>
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/main/view"></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<!-- Detail Page -->

<ion-content padding>

  <div>
      <ion-text style="align-items: center; font-weight: bold; font-size: 20px ">
          <br />
          <ion-text>{{mtch.teamOne}} vrs {{mtch.teamTwo}} </ion-text>
      </ion-text>
      <br />
      <br />

      <ion-button [disabled]="disabled" size="small" color="secondary" (click)="view(mtch.codeMatch)">
          <ion-icon name="add"></ion-icon>
          &nbsp;Evento
      </ion-button>

      <ion-button [disabled]="disabled" size="small "color="secondary " (click)="action()">
          <ion-icon name="add"></ion-icon>
          &nbsp;Finalizar
      </ion-button>
  </div>

  <ion-content padding>
      <div id="container">

          <ion-card *ngFor="let matches of mtch.event">

              <ng-container *ngIf="matches.codeMatch === mtch.codeMatch">

                  <ion-item>
                      <ion-label>Evento: &nbsp;{{matches.eventName}}
                      </ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Equipo: &nbsp;{{matches.team}}
                      </ion-label>
                  </ion-item>
                  <ion-item>
                      <ion-label>Minuto: &nbsp;{{matches.minute}}
                      </ion-label>
                  </ion-item>

              </ng-container>

          </ion-card>
      </div>
  </ion-content>

</ion-content>