<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/main"></ion-back-button>
      </ion-buttons>
      <ion-title>Ingresar Evento</ion-title>

      <ion-buttons slot="primary">
          <ion-button (click)="addEvent()" [disabled]="!formAddEvent.valid">
              <ion-icon name="save-outline"></ion-icon>
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-content">
  <br />


  <form [formGroup]="formAddEvent" class="list-form">

      <ion-item>
          <ion-label position="floating" color="secondary">
              <ion-icon name="people" item-start></ion-icon>
              Evento
          </ion-label>
          <ion-select interface="popover" color="secondary" type="text" formControlName="pevent">
              <ion-select-option value="Gol">Gol</ion-select-option>
              <ion-select-option value="Tarjeta Amarilla">Tarjeta Amarilla</ion-select-option>
              <ion-select-option value="Tarjeta Roja">Tarjeta Roja</ion-select-option>
              <ion-select-option value="Penal">Penal</ion-select-option>
              <ion-select-option value="Falta">Falta</ion-select-option>
              <ion-select-option value="Fuera de Juego">Fuera de Juego</ion-select-option>
              <ion-select-option value="Tiro de Esquina">Tiro de Esquina</ion-select-option>
              <ion-select-option value="Saque de Puerta">Saque de Puerta</ion-select-option>
          </ion-select>
      </ion-item>

      <br />

      <ion-item>
          <ion-label position="floating" color="secondary">
              <ion-icon name="people" item-start></ion-icon>
              Equipo
          </ion-label>
          <ion-select interface="popover" color="secondary" type="text" formControlName="pteam">
              <ion-select-option value={{mtch.teamOne}}>{{mtch.teamOne}}</ion-select-option>
              <ion-select-option value={{mtch.teamTwo}}>{{mtch.teamTwo}}</ion-select-option>
          </ion-select>
      </ion-item>

      <br />

      <ion-item>
          <ion-label position="floating" color="secondary">
              <ion-icon name="people" item-start></ion-icon>
              &nbsp;Minuto
          </ion-label>
          <ion-input color="secondary" type="number" formControlName="pminute"></ion-input>
      </ion-item>

  </form>
</ion-content>
